<div class="table-responsive">
  <table id="teamsTable" class="table table-striped table-hover" {{did-insert this.initializeTable}} {{will-destroy this.cleanupTable}}>
    <thead>
    <tr>
      <th>Sl. No</th>
      <th>Loan Money</th>
      <th>Left to Repay</th>
      <th>Duration</th>
      <th>Interest Rate</th>
      <th>Installment</th>
      <th>Repay</th>
    </tr>
    </thead>
    <tbody>
    {{#each this.args.data as |item index|}}
      <tr>
        <td>{{index}}</td>
        <td>{{item.loanMoney}}</td>
        <td>{{item.leftToRepay}}</td>
        <td>{{item.duration}}</td>
        <td>{{item.interestRate}}</td>
        <td>{{item.installment}}</td>
        <td><button class="btn btn-primary btn-sm"><i class="bi bi-wallet2"></i> Repay</button></td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
